*{
    margin: 0;
}
body{
    background-color: #f4f2eb;    
}
:root{
    --blur:0px;
    --btn:0;
}
/*HEADER*/
h1,h2,a{
    font-family: 'Poppins', sans-serif;
    color: #222;    
}
.titulo .header-top h1{
    font-size: 40px;
}
p{
    color: #888;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
}
header{
    padding: 3% 0;
}
.titulo{
    text-align: center;
    padding: 3% 0;
}
.titulo div{
    padding-bottom: 20px;
    width: 500px;
    margin: auto;
}
/*SECTION APP*/
.apps{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5%;
    justify-items: center;
}
.apps .app1{
    text-align: center;
    box-shadow: 0px 0px 5px 2px rgba(136,136,136,1);
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 0;
    background-color: white;
}
.apps .app1 .app1-img{    
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.apps .app1 .app1-img a{
    position: absolute;
    text-decoration: none;
    font-size: 14px;
    border: 3px solid #222;
    background-color: white;
    padding: 3px 20px;
    opacity: var(--btn);
    transition: 0.5s;
}
.apps .app1 .app1-img:hover{
    filter: sepia(30%);
    --blur:3px;
    --btn:1:
}
.apps .app1 .app1-img img{
    width: 100%;
    filter: blur(var(--blur));
    transition: 0.5s;
}
.apps .app1 .app1-body h2,.apps .app1 .app1-body p{
    padding: 10px 0;
}
.apps .app1 .app1-body{
    padding: 0 20px;
}
@media only screen and (max-width: 768px){
    .apps{
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width: 550px){
    .apps{
        grid-template-columns: 1fr;
    }
}
