
p{
    color: #888;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
}
header{
    width: 505px;    
    margin: 50px auto;
    text-align: center;
}
h1,h2{    
    font-family: 'Poppins', sans-serif;
    color: #222;    
}
h1{
    font-size: 40px;
}