
p{
    color: var(--pColor);
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
}
header{
    width: 505px;    
    margin: 50px auto;
    text-align: center;
}
h1,h2{    
    font-family: 'Poppins', sans-serif;
    color: var(--h2Color);    
}
h1{
    font-size: 40px;
}


@media only screen and (max-width: 550px){
    header{
        width: 310px; 
    }
}