
.card .card-head img{
    height: 200px;
    width: 400px;
    border-radius: 5px 5px 0 0;
    filter: blur(var(--blur));
    transition: 0.5s;

}
.card .card-head{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.card .card-head:hover{
    filter: sepia(30%);
    --blur:3px;
    --btn:1;
}
.card{
    width: min-content;
    margin: 25px 25px 0 0;
    text-align: center;
    box-shadow: 0px 0px 5px 2px rgba(136,136,136,1);    
    border-radius: 5px;
    background-color: var(--cardColor);
}
.card-body{
    padding: 0 20px;
    text-align: justify;
}
.card .card-head a{
    position: absolute;
    text-decoration: none;
    font-size: 14px;
    border: 3px solid #222;
    background-color: white;
    padding: 3px 20px;
    opacity: var(--btn);
    transition: 0.5s;
    font-family: 'Poppins', sans-serif;
    color: #222;    
}

@media only screen and (max-width: 930px){
    .card{
        margin: 25px 0 0 0;
    }
}
@media only screen and (max-width: 420px){
    .card{
        width: 300px;
    }
    .card .card-head img{
        width: 100%;
    }
}